# Static mapping: profile name -> Telegram chat ID.
# Only authorized users can control bot
# Unauthorized users can send command, but bot will not respond, nor relay commands to maa
# Leave unused profiles blank.
#
# Example:
# profile_a: 123456789
# profile_b: -1001234567890

profile_a:
profile_b:
